/* 
    Created on : 1-Mar-2017, 5:56:52 PM
    Author     : Evang
*/
@import url('https://fonts.googleapis.com/css?family=Poppins');
.album-info-wrapper{
    height: 30vh;
    margin-top: 2%;
}
.album{
    margin: 0 auto;
}

.albumArt{		
    width: 100%;		
    height: 100%;		
}		
.album-info{
    font-family: "Poppins", sans-serif;
    color: white;		
}		
.track_list{
    width: 50%;
    margin: 0px auto;
    display: table;
}		
.bodyClass{		
    background-color: #17171b;		
}

.tracklist_container{
    font-family: "Poppins", sans-serif;
    width: 60vw;
    height: 50vh;
    margin: 0 auto; 
    border-radius: 4px;
}

table th, td{
    font-size: 20px;
}

table.track_list {
    display: table;
    width: 100%;
}
table.track_list thead, table.track_list tbody {
    float: left;
    width: 100%;
}
table.track_list tbody {
    overflow: auto;
    height: 40vh;
}
table.track_list tr {
    width: 100%;
    display: table;
    text-align: left;
}
table.track_list th, table.track_list td {
    width: 45%;
}

#suggested-header{
    font-family: "Poppins", sans-serif;
    color: white;
}

#suggested-title{
    font-family: "Poppins", sans-serif;
    color: white;
}
