/* 
    Created on : 1-Mar-2017, 5:56:52 PM
    Author     : Evang
*/
.album-info-wrapper{
    height: 45vh;
    margin-top: 2%;
}
.album{
    margin: 0 auto;
}

.albumArt{		
    width: 100%;		
    height: 100%;		
}		
.album-info{			
    color: white;		
}		
.track_list{
    width: 50%;
    margin: 0px auto;
}		
.bodyClass{		
    background-color: #3f3f3f		
}

.tracklist_container{
    width: 50vw;
    height: 55vh;
    margin: 0 auto; 
    border-radius: 4px;
}

table th, td{
    font-size: 20px;
}

.test{
    background-color: black;
}
