/* 
    Created on : 16-Mar-2017, 1:11:14 PM
    Author     : Evang
*/
h2{
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    color: rgba(255, 255, 255, 0.87);
}
.genre-links{
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    color: rgba(255, 255, 255, 0.87);
}
.genre-links:link{
    text-decoration: none;
}

.genre-links:hover{
    text-decoration: none;
    color:#02b875;
}
.genre-links:visited{
    color:#02b875;
}

body{
    background-color: #17171b;
}

.card-wrapper{
    background-color: #02b875;
    padding: 15px;
    border-radius: 2px;
}
.albumart{
    margin: 0 auto;
    max-width:100%;
    max-height: 100%;
    border-radius: 2px;
}
.genre-row{
    margin-top: 3%;
}
.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
}
.latest-caption{
    text-align: left;
    font-family: "Poppins", sans-serif;
    color: #60656F;
}

