/* 
    Created on : 15-Feb-2017, 10:10:36 PM
    Author     : Evang
*/
.contentflow_container{
    width: 90vw;
    height: 45vh;
    background-color: red;
    margin-left: 5%;
    margin-right: 5%;
    margin-top:2%;
    margin-bottom: 2%;
}

.horizontal-ad{
    width: 45vw;
    height: 15vh;
    margin: 0 auto;
    margin-top: 2%;
    background-color: blue;
}

.parallax{
    background-image: url("#{resource['/images/bg.jpg']}");
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.content{
    height: 50vh;
    background-color: limegreen;
}
