/* 
    Created on : 28-Mar-2017, 3:55:32 PM
    Author     : Evang
*/
@import url('https://fonts.googleapis.com/css?family=Poppins');
body{
    background-color: #17171b;
    font-family: "Poppins", sans-serif;
}

#albums-sale{
    background-color: red;
}
