html{
    margin: 0;
    border: 0;
    height: 100%;
}

body{
    font-size: 14px;
    margin: 0;
    display: initial;
    min-height: 100%;
}

html, body {
    overflow: auto;
    height: 100%;
}

.sloganContainer > h1{
    margin: 0;
    font-size: 40px;
    font-family: "Raleway", sans-serif;
    padding-bottom: 5vh;
    
}

.homeContent > .sloganContainer{
    display: inline-block;
    align-self: center;
    color: #000;
    border:0;
    margin:0;
    padding:0;
}

.homeContainer{
    display: inline-block;
    width: 100%;
    /*stretching content under the navbar*/
    position: absolute;
    /*86px is the height of the navbar*/
    margin-top: 86px;
    height: auto;
    top:0px; 
    left:0px;
    right:0px; 
    bottom:0px;
    
    padding: 0;
    padding-bottom: 0;
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
    background-color: #fff;
    background-image: url("#{resource['/images/background.jpg']}");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}

.homeContent{
    padding-top: 35vh;
    display: flex;
    justify-content: center;
    
    min-width: 100%; 
    min-height: 100%;
    margin: 0;
    border: 0;
    text-align: center;   
}

/*div containing button*/
.accessButton{
    margin-top: 80px;
    width: auto;
    
    /*applying custom style*/
    background-color: #fff;
    color: #000;
    border: none;
    padding: 12px 40px;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 30px;
    cursor: pointer;   
}

.accessButton:hover{
    background-color: #303030;
    color: #fff;    
    transition: background-color 0.5s, color 0.5s ease-in-out;
}